{% extends 'include/base.html' %}

{% block title %}
    Ошибка подтверждения Email
{% endblock %}

{% block content %}

      <main>
        <section>
            <h2>Не удалось подтвердить ваш адрес электронной почты</h2>
            <p>К сожалению, токен подтверждения недействителен или истек. Пожалуйста, проверьте ссылку в вашем
                электронном письме и попробуйте снова.</p>
            <p>Если у вас возникли проблемы, вы можете запросить новое письмо для подтверждения, для этого
                авторизуйтесь</p>
        </section>

        <div class="error-message">
            <p>Пожалуйста, свяжитесь с поддержкой, если проблема не решается.</p>
        </div>

        <div class="button-container">
            <a href="{% url 'shop:main' %}" class="back-to-product-list-btn">Вернуться на главную страницу</a>
        </div>

    </main>
    
    
{% endblock %}