<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
    	My Shop
    {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'shop/include/header.html' %}
    {% include 'shop/include/navi_bar.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'shop/include/footer.html' %}
<script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>
