<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% include 'shop/include/header.html' %}
{% include 'shop/include/navi_bar.html' %}

<!-- Основная область -->
<div class="layout">
    <!-- Левая часть (фильтры) -->
    {% block filters %}
        
    {% endblock %}

    <!-- Правая часть (контент) -->
    <main class="main-content">
        {% block content %}
            <!-- Контент будет вставлен здесь -->
        {% endblock %}
    </main>
</div>

{% include 'shop/include/footer.html' %}
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
