<!-- Фильтры -->
<aside class="filters">
    <h2>Фильтры</h2>
    <!-- Блок фильтра "Цена" -->
    <div class="filter-item">
        <h3>Цена</h3>
        <form>
            <label for="min-price">от</label>
            <input type="number" id="min-price" name="min-price" placeholder="249">
            <label for="max-price">до</label>
            <input type="number" id="max-price" name="max-price" placeholder="809990">
        </form>
    </div>
    <!-- Блок фильтра "Бренд" -->
    <div class="filter-item">
        <h3>Бренд</h3>
        <form>
            <div>
                <input type="checkbox" id="apple" name="brand" value="Apple" checked>
                <label for="apple">Apple</label>
            </div>
            <div>
                <input type="checkbox" id="beats" name="brand" value="Beats">
                <label for="beats">Samsung</label>
            </div>
        </form>
    </div>
    <!-- Блок фильтра "Категории" -->
    <div class="filter-item">
        <h3>Категории</h3>
        <nav>
            <a href="#">Category 1</a>
            <a href="#">Category 2</a>
            <a href="#">Category 3</a>
        </nav>
    </div>
</aside>

