<section class="popular-products">
    <div class="container">
        <h2>Самые популярные товары</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="product.png" alt="AirPods Pro 2">
                <h3>Products 2</h3>
                <p>Descriptions.</p>
            </div>
            <div class="product-card">
                <img src="product.png" alt="Apple MacBook">
                <h3>Product</h3>
                <p>Descriptions.</p>
            </div>
            <div class="product-card">
                <img src="product.png" alt="Apple iPad">
                <h3>Product</h3>
                <p>Descriptions</p>
            </div>
            <div class="product-card">
                <img src="product.png" alt="iMac">
                <h3>Product</h3>
                <p>Descriptions.</p>
            </div>
        </div>
    </div>
</section>
