<section class="popular-products">
    <div class="container">
        <h2>Самые популярные товары</h2>
        <div class="product-grid">
            {% for product in product_list|slice:":5" %}
            <div class="product-card">
                <a href="{% url 'shop:product-detail' product.id %}">  {# Замените 'product_detail' на имя вашего URL-шаблона #}
                    <img src="{{ product.preview.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>Descriptions.</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
