{% load static %}
<section class="store-benefits">
    <div class="container">
        <div class="benefits">
            <div class="benefit-card">
                <div class="benefit-icon">
                    <img src="{% static 'images/delivery.png' %}"alt="Быстрая доставка">
                </div>
                <h3>Быстрая доставка</h3>
                <p>Вслушайтесь, и вы услышите, как торопится наш курьер</p>
            </div>
            <div class="benefit-card">
                <div class="benefit-icon">
                    <img src="{% static 'images/refund.png' %}" alt="Простой возврат">
                </div>
                <h3>Простой возврат</h3>
                <p>Мы поможем вам с этим, если что-то пошло не так</p>
            </div>
            <div class="benefit-card">
                <div class="benefit-icon">
                    <img src="{% static 'images/sale.png' %}" alt="Скидки и акции">
                </div>
                <h3>Скидки и акции</h3>
                <p>Каждый день, специально для вас</p>
            </div>
            <div class="benefit-card">
                <div class="benefit-icon">
                    <img src="{% static 'images/cool.png' %}" alt="Мы классные">
                </div>
                <h3>Мы классные</h3>
                <p>С нами так приятно иметь дело!</p>
            </div>
        </div>
    </div>
</section>
