{% extends 'include/base.html' %}
{% load add_class %}
{% block title %}
    Управление пользователями
{% endblock %}

{% block filters %}
    {% include 'include/profile_menu.html' %}
{% endblock %}

{% block content %}

    <h1>{% if form.instance.pk %}Редактировать товар{% else %}Добавить новый товар{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit">Сохранить</button>
    </form>

{% endblock %}
