{% extends 'include/base.html' %}
{% load add_class %}
{% block title %}
    Профиль {{ user.username }}
{% endblock %}

{% block filters %}
    {% include 'include/profile_menu.html' %}
{% endblock %}

{% block content %}

    <h2>Пользователь: {{ user.username }}</h2>
    <p><img src="{{ user.avatar }}" alt="{{ user.username }}"></p>
    <p><strong>Имя : </strong> {{ user.first_name }}</p>
    <p><strong>Фамилия : </strong> {{ user.last_name }}</p>
    <p><strong>E-mail : </strong> {{ user.email }}</p>
    <p><strong>О себе : </strong> {{ user.bio }}</p>

{% endblock %}