{% extends 'include/base.html' %}
{% load add_class %}
{% block title %}
    Subscription
{% endblock %}

{% block filters %}
    {% include 'include/profile_menu.html' %}
{% endblock %}

{% block content %}
    <h1>Управление подпиской</h1>
    {% if user.email_verified %}
        <p>Вы {{ subscription.is_subscribed|yesno:"подписаны,не подписаны" }} на уведомления об акциях.</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit">
                {% if subscription.is_subscribed %}
                    Отписаться
                {% else %}
                    Подписаться
                {% endif %}
            </button>
        </form>
    {% else %}
        <p> Пожалуйста, подтвердите E-mail !</p>
        <form method="post" action="{% url 'account:resend_email_confirmation' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn-resend-confirmation">Отправить подтверждение</button>
        </form>

    {% endif %}


{% endblock %}
