{% extends 'include/base.html' %}
{% load add_class %}
{% block title %}
    Профиль {{ user.username }}
{% endblock %}

{% block filters %}
    {% include 'include/profile_menu.html' %}
{% endblock %}

{% block content %}
    <div class="container profile">
        <h1>Мои заказы</h1>

        <div class="profile-orders">
            {% if orders %}
                <table class="orders-table">
                    <thead>
                    <tr>
                        <th>Заказ #</th>
                        <th>Дата</th>
                        <th>Статус</th>
                        <th>Оплата</th>
                        <th>Сумма</th>
                        <th>Детали</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.order_date|date:"d.m.Y H:i" }}</td>
                            <td>{{ order.status }}</td>
                            <td>{% if order.paid %}
                            	Оплачено
                                {% else %}
                                Не оплачено {% if not order.complete %}<a href="{% url 'shop:repay_order' order.pk %}" class="back-to-product-list-btn"> Оплатить </a>{% endif %}
                            {% endif %} 
                            </td>
                            <td>{{ order.total_price }} руб.</td>
                            <td><a href="{% url 'shop:order_detail' order.id %}" class="view-details">Просмотреть</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>У вас нет заказов.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}








