{% extends 'shop/include/base.html' %}
{% load static %}

<div class="layout">
    {% block content %}
        <div class="products">
            <h2>Выбранная категория</h2>
            <div class="product-list">
                <div class="product-card">
                    <img src="{% static 'images/product1.jpg' %}" alt="Product 1">
                    <h3>Товар 1</h3>
                    <p>Описание товара.</p>
                </div>

                <div class="product-card">
                    <img src="{% static 'images/product2.jpg' %}" alt="Product 2">
                    <h3>Товар 2</h3>
                    <p>Описание товара.</p>
                </div>

            </div>
        </div>

    {% endblock %}
</div>