{% extends 'include/base.html' %}
{% load static %}

{% block content %}

    <h1>Результаты поиска</h1>

    {% if products %}
        <div class="product-list">
            {% for product in products %}
                <div class="product-card">
                    <a href="{% url 'shop:product-detail' product.id %}">
                        <img src="{{ product.preview.url }}" alt="{{ product.name }}">
                        {% if product.new %}
                            <span style="color: green; font-weight: bold;">Новинка!</span>
                        {% endif %}
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.marketing_info }}</p>
                        {% if product.discount > 0 %}
                            <p class="old-price">Старая цена: {{ product.price }} ₽</p>
                        {% endif %}
                        <p class="current-price">Цена: {{ product.discounted_price }} ₽</p>
                        <form action="{% url 'shop:add_to_cart' product.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-add-to-cart">Добавить в корзину</button>
                        </form>
                    </a>
                </div>
            {% endfor %}
        </div>

        {% include 'include/pagination.html' %}

    {% else %}
        <p>Ничего не найдено по запросу "{{ query }}".</p>
    {% endif %}

{% endblock %}