<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
{% for product in product_list %}
    <a href="{% url 'shop:product-detail' product.pk %}"> {{ product.name }}</a>
    {{ product.description }}
    <form action="{% url 'shop:add_to_cart' product.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Добавить в корзину</button>
</form>
{% endfor %}

<a href="{% url 'shop:cart_view' %}">Перейти в корзину</a>
</body>
</html>