<aside class="filters">
    <h2>Фильтры</h2>
    <form method="get" class="filter-form">
        <div class="filter-group">
            {{ filter.form.price_min.label_tag }}
            {{ filter.form.price_min }}
        </div>
        <div class="filter-group">
            {{ filter.form.price_max.label_tag }}
            {{ filter.form.price_max }}
        </div>
        <div class="filter-group">
            {{ filter.form.manufacturer.label_tag }}
            {{ filter.form.manufacturer }}
        </div>
        <div class="filter-group">
            {{ filter.form.category.label_tag }}
            {{ filter.form.category }}
        </div>
        <div class="filter-group">
            {{ filter.form.discounted.label_tag }}
            {{ filter.form.discounted }}
        </div>
        <div class="filter-buttons">
            <button type="submit" class="btn-submit">Применить</button>
            <a href="{% url 'shop:product-list' %}" class="btn-reset">Сбросить</a>
        </div>
    </form>
</aside>
