<footer>
    <div class="container footer-content">
        <div class="footer-logo">MYShop</div>
        <nav class="footer-nav">
            <a href="{% url 'about' %}" title="О компании">О компании</a>
            <a href="/" title="Политика конфиденциальности">Политика конфиденциальности</a>
            <a href="/" title="Условия использования">Условия использования</a>
            <a href="{% url 'contact' %}" title="Контакты">Контакты</a>
        </nav>
        <div class="footer-social">
            <a href="#" class="social-icon" title="Facebook">FaceBook</a>
            <a href="#" class="social-icon" title="Instagram">Instagram</a>
            <a href="#" class="social-icon" title="Twitter">Twitter</a>
        </div>
    </div>
</footer>
