<nav class="sticky-navbar">
    <ul class="nav-list">
        <li class="dropdown">
            <a href="{% url 'shop:product-list' %}"> <span class="dropdown-1">Все товары</span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Категория 1</a></li>
                <li><a href="#">Категория 2</a></li>
                <li><a href="#">Категория 3</a></li>
                <li><a href="#">Категория 4</a></li>
                <li><a href="#">Категория 5</a></li>
            </ul>
        </li>
        <li><a href="#">Скидки</a></li>
        <li><a href="#">Новинки</a></li>
        <li><a href="#">Product1</a></li>
        <li><a href="#">Product2</a></li>
        <li><a href="#">Product3</a></li>
        <li><a href="#">Product4</a></li>
    </ul>
</nav>
