<nav class="sticky-navbar">
    <ul class="nav-list">
        <li class="dropdown">
            <a href="{% url 'shop:product-list' %}"> <span class="dropdown-1">Все товары</span></a>
            <ul class="dropdown-menu">
                {% for category in categories %}
                    <li>
                        <a href="{% url 'shop:category_filter' category_slug=category.name %}">
                            {{ category.name }}
                        </a></li>
                {% empty %}
                    <li>Нет категорий</li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{% url 'shop:promotion_list' %}">Акции</a></li>
        <li><a href="#">Новинки</a></li>
    </ul>

    <div class="nav-buttons hidden">
        <a href="{% url 'shop:cart_view' %}" class="cart-button">Корзина</a>
        {% if user.is_authenticated %}
            <a href="{% url 'account:profile' user.pk %}" class="profile-button">{{ user.username }}</a>
        {% else %}
            <a href="{% url 'account:login' %}" class="profile-button">Войти</a>
            <a href="{% url 'account:registration' %}" class="login" title="Войти">Регистрация</a>
        {% endif %}
    </div>


    <script>
        // Найти контейнер с кнопками
        const navButtons = document.querySelector('.nav-buttons');

        // Добавить событие на прокрутку страницы
        window.addEventListener('scroll', () => {
            if (window.scrollY > 100) { // Если прокрутка больше 100px
                navButtons.classList.add('visible');
            } else {
                navButtons.classList.remove('visible');
            }
        });
    </script>

</nav>
