{% load is_in_group %}
<aside class="filters">

    {% if user|is_in_group:"Модераторы" or user.is_superuser %}

        <div class="filter-item">
            <h3>Администрирование</h3>
            <form>
                {% if user.is_superuser %}
                    <a href="{% url 'account:manage_users' %}"> Управление пользователями</a>
                {% endif %}
                <a href="{% url 'account:product_list' %}"> Управление продуктами</a>
                <a href="{% url 'account:manufacturer_create' %}"> Добавить производителя</a>
                <a href="{% url 'account:category_create' %}"> Добавить категорию</a>
            </form>
        </div>

        <div class="filter-item">
            <h3>Промо-акции</h3>
            <form>
                <a href="{% url 'account:profile' user.pk %}">Создать акцию</a>
                <a href="{% url 'account:profile' user.pk %}">Изменить акцию</a>
            </form>
        </div>

    {% endif %}


    <div class="filter-item">
        <h3>Профиль</h3>
        <form>
            <a href="{% url 'account:profile' user.pk %}"> Профиль</a>
            <a href="{% url 'account:change-password' %}"> Сменить пароль</a>
        </form>
    </div>
    <div class="filter-item">
        <h3>Заказы</h3>
        <form>
            <a href="{% url 'shop:orders_user' 'all' %}"> Заказы</a>
            <a href="{% url 'shop:orders_user' 'active' %}"> Активные заказы</a>
            <a href="{% url 'shop:orders_user' 'complete' %}"> Выполненные заказы</a>
        </form>
    </div>
</aside>

