<section class="categories-slider">
    <div class="slider-container">
        <!-- Слайды -->
        {% for slide in marketing %}
            <div class="slide" data-link="{% url 'shop:promotion_detail' slide.url %}">
                <img src="{{ slide.image.url }}" alt="{{ slide.image.name }}">
                <div class="slide-caption">{{ slide.description }}</div>
            </div>
        {% endfor %}
        
        <!-- Навигация -->
        <button class="prev-slide">‹</button>
        <button class="next-slide">›</button>
    </div>
</section>
